includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/pestphp/pest-plugin-phpstan/extension.neon

parameters:
    paths:
        - src
        - tests
    level: max
    phpVersion: 80500
    tmpDir: .phpstan.cache
    ignoreErrors:
        - identifier: pest.expectation.redundant
        - identifier: pest.expectation.impossible
